<ion-view view-title="Dashboard">
  <ion-content>
    <div class="row">
      <div class="col col-80 col-offset-10 button button-stable" ng-click="whatToEat()">
        Makan Apa?
      </div>
    </div>
    <div class="col col-80 col-offset-10 card" ng-if="selectedMenu">
    	<div class="item item-divider">
		    {{selectedMenu.selectedPlace.name}}
		  </div>
    	<div class="item item-text-wrap">
		    {{selectedMenu.selectedPlace.menu[selectedMenu.selectedMenuIndex]}}
		  </div>
    </div>
  </ion-content>
</ion-view>
